Source: ignition-citadel
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
         libignition-cmake2-dev,
         libignition-common3-dev (>= 3.4),
         libignition-fuel-tools4-dev (>=4.1),
         libignition-gazebo3-dev (>=3.3),
         libignition-gui3-dev (>=3.1),
         libignition-launch2-dev,
         libignition-math6-dev (>= 6.6),
         libignition-math6-eigen3-dev (>= 6.6),
         libignition-msgs5-dev (>=5.3),
         libignition-plugin-dev,
         libignition-physics2-dev (>=2.3),
         libignition-sensors3-dev,
         libignition-rendering3-dev (>=3.1),
         libignition-tools-dev,
         libignition-transport8-dev,
         libsdformat9-dev (>=9.2)
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ignition-citadel-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ignition-citadel-release
Homepage: http://ignitionrobotics.org/

Package: ignition-citadel
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev,
         libignition-common3-dev (>= 3.4),
         libignition-fuel-tools4-dev (>=4.1),
         libignition-gazebo3-dev (>=3.3),
         libignition-gui3-dev (>=3.1),
         libignition-launch2-dev,
         libignition-math6-dev (>= 6.6),
         libignition-math6-eigen3-dev (>= 6.6),
         libignition-msgs5-dev (>=5.3),
         libignition-plugin-dev,
         libignition-physics2-dev (>=2.3),
         libignition-sensors3-dev,
         libignition-rendering3-dev (>=3.1),
         libignition-tools-dev,
         libignition-transport8-dev,
         libsdformat9-dev (>=9.2),
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of ignition robotics packages - Citadel
  This is a metapackage used for triggering the whole collection of ignition
  packages corresponding to the Citadel collection
