Source: ignition-blueprint
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
	       libignition-cmake2-dev,
  	       libignition-common3-dev,
  	       libignition-fuel-tools3-dev,
	       libignition-gazebo2-dev,
	       libignition-gui2-dev,
	       libignition-launch-dev,
	       libignition-math6-dev,
	       libignition-math6-eigen3-dev,
	       libignition-msgs4-dev,
	       libignition-plugin-dev,
	       libignition-physics-dev,
	       libignition-sensors2-dev,
	       libignition-rendering2-dev,
	       libignition-tools-dev,
	       libignition-transport6-dev,
	       libsdformat8-dev,
               ignition-gazebo2
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ignition-blueprint-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ignition-blueprint-release
Homepage: http://ignitionrobotics.org/

Package: ignition-blueprint
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev,
         libignition-common3-dev,
         libignition-fuel-tools3-dev,
         libignition-gazebo2-dev,
         libignition-gui2-dev,
	 libignition-launch-dev,
         libignition-math6-dev,
         libignition-math6-eigen3-dev,
         libignition-msgs4-dev,
         libignition-plugin-dev,
         libignition-physics-dev,
         libignition-sensors2-dev,
         libignition-rendering2-dev,
         libignition-tools-dev,
         libignition-transport6-dev,
         libsdformat8-dev,
         ignition-gazebo2,
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of ignition robotics packages - Blueprint
  This is a metapackage used for triggering the whole collection of ignition
  packages corresponding to the Blueprint collection
